.mat-form-field {
  width: 100%;
}

.container {
  padding: 20px;
}

.mat-column-id {
  flex: 0 0 70px;
}

.mat-column-actions {
  flex: 0 0 200px;

  .mat-stroked-button:not(:last-child) {
    margin-right: 7px;
  }
}
